
.row{
    width: 800px;
    height: 980px;
    border:solid 1px black;
    margin-left: 280px;
    display: flex;
    background-color:#f7dfda  ;
  
}
.col1{
    width: 30%;
    background-color:#ecbcb4 ;
    padding: 15px;
}
.col1 p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    line-height: 15px;
    color: #000;
}
.col1 img{
    margin-left: 20px;
}
.col1 img{
    border-radius: 50%;
}
.prof{
    font-size: 18px;
}
h3{
    color: rgb(247, 31, 132);
}
/* col2 stylig */
.col2{
    width: 70%;   
}
.title{
    background-color:#f09b8c ;
    padding: 5px;
    margin-bottom: 5px;
    margin-top: 10px;
    font-family:sans-serif;
    color: rgb(2, 2, 2);    
}
.web{
    color: rgb(253, 249, 249);
}
.cont{
    padding: 5px;
    line-height: 25px;
}
.h4{
    font-size: 13px;
}
em{
    color: #000;
}
li{
    line-height: 30px;
}
/* for mobile version */
@media(max-width:640px){
    .row{
        width: 620px;
        margin-left: 10px;
        height: 1120px;
    }
    .col1{
        padding:0px;
    }
    .col1 img{
        margin-left:5px;
    }
    .col1 p{
/*     font-family: 'Times New Roman', Times, serif;*/
        font-size: 12px; 
/*     line-height: 15px; */
/*     color: #000; */
    }
}
